#new-entry{
    text-align: center;
    padding-top:100px;
    animation: 0.4s ease-in-out show-contents;
}
#new-entry-form{
    text-align: left;
    display: inline-block;
}
.form-control{
    margin-bottom:25px;
}
.form-control h2{
    display: inline-block;
    font-size:18px;
    font-weight:normal;
    width:250px;
    vertical-align: top;
    margin:0;
}
.form-control input{
    display: inline-block;
}
.form-control textarea{
    resize: none;
    width:550px;
    height:300px;
}
.form-submit{
    cursor: pointer;
    border:none;
    color:var(--paper);
    background-color:#333030;
    font-size:18px;
    padding:8px 15px;
    border-radius: 3px;
    float:right;
    margin-top:30px;
    font-weight: 700;
}
.form-submit:hover{
    background-color:var(--charcoal);
}

@keyframes show-contents {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
