:root{
    --tangerine:#E37222;
    --paper:#F4F4F4;
    --charcoal:#373737;
    --gainsbro:#DFDFDF;
    --yellow:#F9DC5C;
    --darkblue:#08415C;
    --whiteblue:#ebecf5;
}
html,body,.App{
    background-color:var(--whiteblue);
}
/*Header Stuff*/
#Header{
    height:24vw;
    width:100%;
    position: relative;
}
.header-nav{
    background-color:var(--darkblue);
    height:3em;
    width:100%;
    position: absolute;
    top:0;
}
.header-nav .social-links-wrapper{
    list-style: none;
    margin:0;
    height:100%;
    text-align: left;
}
.header-nav .social-links-wrapper .social-link-item{
    width:2em;
    margin:0.5em  0.55em;
    display:inline-block;
    filter:contrast(130%);
}
.header-nav .social-links-wrapper .social-link-item a, .header-nav .social-links-wrapper .social-link-item a img{
    width:100%;
    height:100%;
}
.header-nav .social-links-wrapper .social-link-item:hover{
    filter:contrast(10%);
}
.header-placeholder{
    font-family: 'Pacifico', cursive;
    position: absolute;
    margin-top:7vw;
    font-size:4.4vw;
    left:30vw;
    padding:2vw 6vw;
    border-radius:7px;
    color:var(--tangerine);
    user-select: none;
    font-weight: lighter;
    border:3px solid;
}
/*Home Page*/
#Home{

}