:root{
    --tangerine:#E37222;
    --paper:#F4F4F4;
    --charcoal:#373737;
    --gainsbro:#DFDFDF;
    --yellow:#F9DC5C;
    --darkblue:#08415C;
    --whiteblue:#ebecf5;
    --gold: #CCA43B;
    --red:#5c2308;
}
html,body,.App{
    background-color:var(--whiteblue);
}
/*Header Stuff*/
#Header{
    height:22vw;
    width:100%;
    position: relative;
}
.header-nav{
    background-color:var(--darkblue);
    height:3em;
    width:100%;
    position: fixed;
    top:0;
}
.nav-control-wrapper{
    float:right;
    margin:0;
    padding:0;
    list-style: none;
    margin-right:3em;
    height:100%;
}
.hamburger-btn{
    display:inline-block;
    cursor:pointer;
    width:2.4em;
    margin-top:0.25em;
}
.hamburger-btn div{
    width:100%;
    height:4px;
    background-color:var(--paper);
    margin:7px 0;
    transition: all 0.4s ease;
    border-radius:6px;
}
.hamburger-btn-x div:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburger-btn-x div:nth-child(2) {
    background-color: var(--darkblue);
    z-index: 2;
    transform: rotate(1deg);
}
.hamburger-btn-x div:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -7px);
    transform: rotate(45deg) translate(-8px, -7px);
}
.control-divider{
    display:inline-block;
    border-left:1px solid #f4f4f496;
    height:75%;
    margin:0.1em 1.5em;
}
.search-btn{
    display: inline-block;
    position: relative;
    bottom:0.35em;
    width:1.8em;
    filter: invert(100%) contrast(125%);
    cursor: pointer;
}
.search-btn img{
    width:100%;
    height:100%;
}
.header-nav .social-links-wrapper{
    list-style: none;
    margin:0;
    padding:0;
    margin-left:3em;
    height:100%;
    text-align: left;
    display:inline-block;
}
.header-nav .social-links-wrapper .social-link-item{
    width:1.4em;
    margin:0.75em  0.55em;
    display:inline-block;
    filter:invert(95%);
}
.header-nav .social-links-wrapper .social-link-item a, .header-nav .social-links-wrapper .social-link-item a img{
    width:100%;
    height:100%;
}
.header-nav .social-links-wrapper .social-link-item:hover{
    filter:invert(70%);
}
.header-placeholder{
    font-family: 'Pacifico', cursive;
    position: absolute;
    margin-top:7vw;
    font-size:4vw;
    left:33vw;
    padding:1vw 4vw;
    border-radius:13px;
    color:var(--darkblue);
    user-select: none;
    font-weight: lighter;
    border-left:5.5px solid var(--darkblue);
    border-right: 5.5px solid var(--darkblue);
}
/*Home Page*/
#Home{

}
.highlights{
    display: block;
    text-align: center;
}
.highlight-reel{
    list-style: none;
    margin:0;
    padding:0;
    text-align: center;
    display: inline-block;
    width:90%;
}
.highlight-item{
    display:inline-block;
    height:48vmax;
    width:100%;
}
.highlight-item img{
    width:75%;
    height:100%;
    display:inline-block;
    float:right;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.highlight-desc{
    height: 100%;
    width: 21%;
    display: inline-block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--red);
    padding: 0 2%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.highlight-desc li{
    position: relative;
}
.highlight-desc li h1{
    font-size:2vw;
    color: var(--paper);
    margin-bottom:0;
}
.highlight-desc li h1::after{
    content:" ";
    border-bottom:2px solid var(--paper);
    display: block;
    width:3vmax;
    margin-top:1.5vmax;
}
.highlight-desc li p{
    line-height: 2vmax;
    color:var(--paper);
    text-align: left;
}
.highlight-desc li button{
    padding:0.5vmax 1vmax;
    font-size:1.4vmax;
    color:var(--paper);
    border: 2px solid var(--paper);
    background-color:transparent;
    cursor: pointer;
    font-weight: bolder;
    margin-top:1vmax;
}