:root{
    --tangerine:#E37222;
    --paper:#F4F4F4;
    --charcoal:#373737;
    --gainsbro:#DFDFDF;
    --yellow:#F9DC5C;
    --darkblue:#08415C;
    --whiteblue:#ebecf5;
    --gold: #CCA43B;
    --red:#5c2308;
}
html,body,.App{
    background-color:var(--paper);
}
/*Header Stuff*/
#Header{
    height:22vw;
    width:100%;
    position: relative;
    text-align: center;
}
.header-nav{
    background-color:var(--charcoal);
    height:2.5em;
    width:100%;
    position: absolute;
    top:0;
    z-index: 9989;
    text-align:left;
}
.nav-control-wrapper{
    float:right;
    margin:0;
    padding:0;
    list-style: none;
    margin-right:3em;
    height:100%;
}
.hamburger-btn{
    display:inline-block;
    cursor:pointer;
    width:2.25em;
    margin-top:0.05em;
}
.hamburger-btn div{
    width:100%;
    height:3px;
    background-color:var(--paper);
    margin:7px 0;
    transition: all 0.4s ease;
    border-radius:6px;
}
.hamburger-btn-x div:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburger-btn-x div:nth-child(2) {
    background-color: var(--darkblue);
    z-index: 2;
    transform: rotate(1deg);
}
.hamburger-btn-x div:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
    transform: rotate(45deg) translate(-7px, -6px);
}
.control-divider{
    display:inline-block;
    border-left:1px solid #f4f4f496;
    height:75%;
    margin:0em 1.5em 0.2em 1.5em;
}
.search-btn{
    display: inline-block;
    position: relative;
    bottom:0.45em;
    width:1.6em;
    filter: invert(100%) contrast(125%);
    cursor: pointer;
}
.search-btn img{
    width:100%;
    height:100%;
}
.header-nav .social-links-wrapper{
    list-style: none;
    margin:0;
    padding:0;
    margin-left:3em;
    height:100%;
    text-align: left;
    display:inline-block;
}
.header-nav .social-links-wrapper .social-link-item{
    width:1.4em;
    margin:0.55em  0.55em;
    display:inline-block;
    filter:invert(95%);
}
.header-nav .social-links-wrapper .social-link-item a, .header-nav .social-links-wrapper .social-link-item a img{
    width:100%;
    height:100%;
}
.header-nav .social-links-wrapper .social-link-item:hover{
    filter:invert(70%);
}
.header-placeholder{
    font-family: 'Pacifico', cursive;
    position: absolute;
    margin-top:7vw;
    font-size:4vw;
    left:33vw;
    padding:1vw 4vw;
    border-radius:13px;
    color:var(--darkblue);
    user-select: none;
    font-weight: lighter;
    border-left:5.5px solid var(--darkblue);
    border-right: 5.5px solid var(--darkblue);
}
.header-logo{
    position: relative;
    display: inline-block;
    margin-top:5%;
}
/*Home Page*/
#Home{

}
    /*Post Highlights*/
.highlights{
    display: block;
    text-align: center;
}
.highlights::after{
    content:"";
    display:inline-block;
    width:60%;
    border-bottom:1px solid grey;
    margin:50px 0;
    border-radius:2px;
}
.highlight-reel{
    list-style: none;
    margin:0;
    padding:0;
    text-align: center;
    display: inline-block;
    width:100%;
}
.main-highlight-item{
    display: inline-block;
    height: 44vmax;
    width: 65%;
    float: left;
    margin-left: 1.75%;
}
.main-highlight-item img{
    width:75%;
    height:100%;
    display:inline-block;
    float:right;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.main-highlight-desc{
    height: 100%;
    width: 21%;
    display: inline-block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--red);
    padding: 0 2%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    position: relative;
}
.main-highlight-desc li{
    position: relative;
    width:100%;
}
.main-highlight-desc li h1{
    font-size:2vw;
    color: var(--paper);
    margin-bottom:0;
}
.main-highlight-desc li h1::after{
    content:" ";
    border-bottom:2px solid var(--paper);
    display: block;
    width:3vmax;
    margin-top:1.5vmax;
}
.main-highlight-desc li p{
    line-height: 2vmax;
    color:var(--paper);
    text-align: left;
}
.main-highlight-desc button{
    padding:0.5vmax 1vmax;
    font-size:1.4vmax;
    color:var(--paper);
    border: 2px solid var(--paper);
    background-color:transparent;
    cursor: pointer;
    font-weight: bolder;
    margin-top:1vmax;
    position: absolute;
    bottom: 1vmax;
    left:15%;
}
.secondary-highlights{
    list-style: none;
    display:inline-block;
    float:right;
    margin:0;
    padding:0;
    width:32%;
    text-align: center;
}
.secondary-highlight-item{
    display:inline-block;
    width:95%;
    position: relative;
    overflow: hidden;
    margin:2% 0;
    cursor:pointer;
}
.secondary-highlight-item h1{
    position: absolute;
    top:35%;
    left:29%;
    color:white;
    font-size:2.2vmax;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
}
.secondary-highlight-item img{
    width:100%;
    height:100%;
}
    /*Blog Posts*/
.BlogPosts{
    width:100%;
    display:block;
    position: relative;
    text-align: center;
}
.BlogPosts ul{
    list-style: none;
    margin:0;
    padding:0;
    width:100%;
    display: inline-block;
    text-align: left;
}
.post-preview{
    display:inline-block;
    width:25%;
    margin:0 0 1.5% 6.2%;
    overflow:hidden;
    text-align: center;
    position: relative;
    padding-bottom:3.5%;
    vertical-align:top;
}
.post-preview img{
    width:96%;
    height:18vw;
    margin-bottom:0px;
}
.post-preview h1{
    font-size:2.2vw;
    position: relative;
    text-align: left;
    width:100%;
    color:var(--gold);
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin:10px 0;
}
.post-preview p{
    text-align: left;
    width:100%;
    display:inline-block;
    font-size:15px;
    color:var(--charcoal);
    font-family: 'Roboto Slab', serif;
    font-weight:lighter;
    margin:0;
}
.post-preview p::after{
    display: block;
    content:"";
    margin-top:25px;
}
.post-preview-footer{
    width:100%;
    height:2em;
}
.post-preview-footer a{
    text-decoration: none;
    font-size:16.5px;
    float:right;
    color:var(--gold);
    padding: 6px 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}